<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>◯◯ってどれくらい？管理画面</title>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <main id="admin">
    <h1><span>T</span>ake <span>A</span>dmin</h1>
    
    <div id="left-bar">
        <div id="unit_form" class="box">
            <h2>Unitの追加/編集</h2>
            <div class="content">
                    <% if @mode == "add" %>
                    <form action="/admin/new" method="post">
                        <p><span>名前</span><input type="text" name="name" placeholder = "name"></p>
                        <p><span>値</span><input type="text" name="value" placeholder = "value"></p>
                        <p><span>カテゴリー</span>
                            <select name="category" size="1">
                    			<option value="">------------</option>
                    			<option value="kg">kg</option>
                    			<option value="cm">cm</option>
                    			<option value="m">m</option>
                    			<option value="km">km</option>
                    			<option value="m2">m2</option>
                		    </select>
                        </p>
                        <p><span>画像</span><input type="text" name="image_url" placeholder = "image_url"></p>
                        <p><input type="submit" value="登録"></p>
                    <% elsif @mode == "edit" %>
                    <form action="/admin/update/<%= @unit.id %>" method="post">
                        <p>名前：<input type="text" name="name" value="<%= @unit.name %>"></p>
                        <p>値：<input type="text" name="value" value="<%= @unit.value %>"></p>
                        <p>カテゴリー：
                            <select name="category" size="1">
                    			<option value="">------------</option>
                    			<option value="kg">kg</option>
                    			<option value="cm">cm</option>
                    			<option value="m">m</option>
                    			<option value="km">km</option>
                    			<option value="m2">m2</option>
                		    </select>
                        </p>
                        <p>画像: <input type="text" name="image_url" value="<%= @unit.image_url %>"></p>
                        <p><input type="submit" value="更新"></p>
                    <% end %>
                </form>
            </div>
        </div>
        
        <div id="unit_all" class="box">
            <h2>Unitの管理</h2>
            <div class="content">
                <table align="center">
                    <tr>
                        <td><p><span>id</span></p></td>
                        <td><p><span>名前</span></p></td>
                        <td><p><span>値</span></p></td>
                        <td><p><span>カテゴリー</span></p></td>
                        <td><p><span>画像</span></p></td>
                        <td><p><span>編集・削除</span></p></td>
                    </tr>
                    <% @units.each do |unit| %>
                    <div class="unit">
                    <tr>
                        <td><p><%= unit.id %></p></td>
                        <td><p><%= unit.name %></p></td>
                        <td><p><%= unit.value %></p></td>
                        <td><p><%= unit.category %></p></td>
                        <td><p><img src = <%= unit.image_url %> width="100" height="100"></p></td>
                        <td>
                            <div>
                            <form action="/admin/edit/<%= unit.id %>" method="post">
                                <input type="submit" value="編集">
                            </form>
                            <form action="/admin/delete/<%= unit.id %>" method="post">
                                <input type="submit" value="削除">
                            </form>
                            </div>
                        </td>
                    </tr>
                </div>
                <% end %>
                </table>
            </div>
        </div>
    </div>
    <div id="right-bar">
        <div id="history_all" class="box">
            <h2>Historyの一覧</h2>
            <div class="content">
                <table align="center">
                    <tr>
                        <td><p><span>id</span></p></td>
                        <td><p><span>値</span></p></td>
                        <td><p><span>単位</span></p></td>
                        <td><p><span>画像</span></p></td>
                        <td><p><span>割る値</span></p></td>
                        <td><p><span>結果</span></p></td>
                    </tr>
                <% @histories.each do |history| %>
                    <div class="history">
                    <tr>
                        <td><p><%= history.id %></p></td>
                        <td><p><%= history.value %></p></td>
                        <td><p><%= history.category %></p></td>
                        <td><p><img src=<%= history.category %> width="100" height="100"></p></td>
                        <td><p><%= history.unit %></p></td>
                        <td><p><%= history.result %></p></td>
                    </tr>
                    </div>
                <% end %>
                </table>
            </div>
        </div>
        <div id="history_reset" class="box">
            <h2>Historyのリセット</h2>
            <div class="content">
                <form action="/admin/history/reset" method="post">
                    <input type="submit" value="reset">
                </form>
            </div>
        </div>
    </div>
    </main>
</body>
</html>
