<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>◯◯ってどれくらい？</title>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<main id="index">
		<h1><span>T</span>ake <span>M</span>easure</h2>
		<div id="left-bar">
			<div id="measure_form" class="box">
				<h2>◯◯ってどれくらい？</h2>
				<div class="content">
					<form action = "/result" method="post">
						<p><span>値</span><input type="text" name="value" placeholder = "value"></p>
						<p><span>カテゴリー</span><select name="category" size="1">
							<option value="">------------</option>
							<option value="kg">kg</option>
							<option value="cm">cm</option>
							<option value="m">m</option>
							<option value="km">km</option>
							<option value="m2">m2</option>
						</select></p>
						<p><span>単位</span><select name="unit" size="1">
							<% @units.each do |unit| %>
								<option value="<%= unit.value %>"><%= unit.name %> (<%= unit.value %> <%= unit.category %>)</option>
							<% end %>
						</select></p>
						<input type="submit" value = "換算">
					</form>
				</div>
			</div>
			
			<div id="canvas" class="box">
				<h2>図説</h2>
				<div class="content">
					<div id="p5Canvas"></div>
				</div>
			</div>
			<%= @value%>
			<%= @unit%>
			
			
			<%= @texts%>
		</div>
		<div id="right-bar">
			<div id="history_all" class="box">
	         <h2>Historyの一覧</h2>
	         <div class="content">
	         	<table align="center">
	         		<tr>
	      				<td><p><span>id</span></p></td>
	               	<td><p><span>値</span></p></td>
	               	<td><p><span>カテゴリー</span></p></td>
	               	<td><p><span>単位</span></p></td>
	               	<td><p><span>結果</span></p></td>
		            </tr>
	            <% @histories.each do |history| %>
		            <div class="history">
		            	<tr>
		               	<td><p><%= history.id %></p></td>
		               	<td><p><%= history.value %></p></td>
		               	<td><p><%= history.category %></p></td>
		               	<td><p><%= history.unit %></p></td>
		               	<td><p><%= history.value %><%= history.category %>は<%= history.unit %><%= history.result %>コ分</p></td>
		               </tr>
		               
	               </div>
	            <% end %>
	            </table>
	         </div>
	      </div>
	   </div>
		<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js"></script>
	  	<script>
	      var img; 
	
			function setup() {
				var canvas = createCanvas(480, 400);
				canvas.parent("#p5Canvas");
				img = loadImage("http://4.bp.blogspot.com/-nF05OoWtkvE/VtWyUgIFumI/AAAAAAAA4R4/vYfh_QJrJKk/s800/animalface_tanuki.png");  // Load the image
			}
	
			function draw() {
				var num = 5;
				var imgScale = width / (num*img.width) ;
				
				for (var i=0;i<num;i++){
			  		image(img,i*width/num, 0, width/num, img.height*imgScale);
				}
			}
	  </script>
	</main>
</body>
</html>
