<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>◯◯ってどれくらい？</title>
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<h2>◯◯ってどれくらい？</h2>
	<form action = "/result" method="post">
		<input type="text" name="value" placeholder = "value">
		<select name="category" size="1">
			<option value="">------------</option>
			<option value="kg">kg</option>
			<option value="cm">cm</option>
			<option value="m">m</option>
			<option value="km">km</option>
			<option value="m2">m2</option>
		</select>
		<input type="submit" value = "send">
	</form>
	<%= @value%>
	<%= @unit%>
	
	
	<%= @texts%>
	<script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.7/p5.min.js"></script>
  	<script>
      var img; 

		function setup() {
		  createCanvas(windowWidth, 800);
		  img = loadImage("http://4.bp.blogspot.com/-nF05OoWtkvE/VtWyUgIFumI/AAAAAAAA4R4/vYfh_QJrJKk/s800/animalface_tanuki.png");  // Load the image
		}

		function draw() {
			var num = 5;
			var imgScale = width / (num*img.width) ;
			
			for (var i=0;i<num;i++){
		  		image(img,i*width/num, 0, width/num, img.height*imgScale);
			}
		}
  </script>
	
	<h2>Histories</h2>
	<table>
		<% @histories.each do |history|%>
			<tr>
				<td>	<%= history.value%>, <%= history.unit%></td>
			</tr>
		<% end %>
	</table>
	
	

</body>
</html>
